fs/grml64-small/grml64-small.squashfs filter=lfs diff=lfs merge=lfs -text
images/initrd.img filter=lfs diff=lfs merge=lfs -text
images/undionly.kpxe filter=lfs diff=lfs merge=lfs -text
images/vmlinuz filter=lfs diff=lfs merge=lfs -text
images/ipxe.efi filter=lfs diff=lfs merge=lfs -text
