Source: ngcp-pxe-boot
Section: net
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8~)
Standards-Version: 3.9.7
Homepage: https://sipwise.com/

Package: ngcp-grml-pxe-boot
Architecture: all
Depends: pxelinux,
         ${misc:Depends}
Description: PXE boot files for PRO/Carrier bootstrap
 PXE boot files to bootstrap PRO/Carrier (mainly GRML files).
